In [ ]:
'''
    Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
'''

In [8]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
'''
    Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
    variable print it.
'''

In [9]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
'''
    Q3. Create a Pandas DataFrame that contains the following data:

        Name     Age     Gender
        Alice    25      Female
        Bob      30      Male
        Claire   27      Female
    
    Then, print the DataFrame.
'''

In [11]:
data = {"Name" : ["Alice","Bob","Claire"],
        "Age" : ["25","30","27"],
        "Gender" : ["Female","Male","Female"]
        }
df = pd.DataFrame(data)
print(df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [ ]:
'''
    Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
'''

In [ ]:
A DataFrame is a two-dimensional labeled data structure that consists of rows and columns,
where each column can have a different data type. It is similar to a spreadsheet or SQL table, and 
can be thought of as a collection of Pandas Series objects

Series is a one-dimensional labeled data structure that can hold data of any data type, including 
integers, floating-point numbers, strings, and more.

In [ ]:
#Example of DataFrame 
data = {"Name" : ["Alice","Bob","Claire"],
        "Age" : ["25","30","27"],
        "Gender" : ["Female","Male","Female"]
        }
df = pd.DataFrame(data)
print(df)

#Example of Series
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(list)
print(series)

In [ ]:
'''
    Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
    you give an example of when you might use one of these functions?
'''

In [ ]:
Some Common function i.e. used in Pandas Dataframe are:---

1. head()
2. tail()
3. read_excel()
4. read_csv()
5. read_html()
6. to_csv()
7. info()
8. sort_values()
9. describe()
10. groupby()

In [4]:
data = {'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
              'Product': ['A', 'B', 'A', 'B'],
              'Quantity': [10, 5, 7, 8],
              'Price': [2.50, 1.75, 2.50, 2.00]
             }
df = pd.DataFrame(data)

revenue_by_product = df.groupby("Product")[["Quantity", "Price"]].sum()
print(revenue_by_product)

         Quantity  Price
Product
A              17   5.00
B              13   3.75

In [ ]:
'''
    Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
'''

In [ ]:
In pandas, both Series and DataFrame are mutable.
Panel is also mutable in Pandas. 
However, it is important to note that Panel is deprecated in Pandas 1.0 and beyond, and is not recommended for new code.

In [ ]:
'''
    Q7. Create a DataFrame using multiple Series. Explain with an example.
'''

In [8]:
name = pd.Series(["Alice", "Bob", "Claire"])
age = pd.Series([25, 30, 27])
gender = pd.Series(["Female", "Male", "Female"])

df = pd.DataFrame({"Name": name, "Age": age, "Gender": gender})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female